.App {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.dropdown {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  justify-content: start;
}
